<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= PageTitle %>
    </title>

</head>
<body>
    <div class="serch-area">
        <form action="/employee/:id" method="get">
        <input type="search" id="gsearch" name="search" placeholder="Serch Employee by Id">
        <input type="Submit" ></form>
        </div>
        <div class="empolyee-details">
            <% if(employeeData.length>0) { %>
                <% for (let emp of employeeData) { %>
            <p class="employe">Employee Name : <span> <%= emp.EmployeeName %></span> </p>
            <% } %>
            <% } else { %>
                <h1>no User Found</h1>
                      <% } %>
            <p class="employe">Total Working Days : <span id="WorkingDays"> </span> </p>
            <p class="employe">Total Present Days <span> 99999 </span> </p>
            <p class="employe"> Total Absent Days : <span> 99999 </span> </p>
        </div> 
        
        <script>
            const d = new Date();
            document.getElementById("WorkingDays").innerHTML = d.getDate();
        </script>
    </body>
</body>
</html>